{% extends '@JobQueue/base.html.twig' %}

{% block title %}{{ 'job.detail.title'|trans }}{% endblock %}

{% block header %}
    <div class="row align-items-center mt-4">
        <div class="col-8 my-2">
            <h1>{{ 'job.detail.title'|trans }} {{ job.id }}
                {% if relatedEntity is not empty %}
                    {{ 'job.header.for'|trans }} <strong>{{ relatedEntity }}</strong>
                {% elseif relatedEntity is empty and job.relatedEntityId is not empty %}
                    {{ 'job.header.for_entity_with_id'|trans ~ ' ' ~ job.relatedEntityId }}
                {% endif %}
            </h1>
        </div>
        <div class="col-4 text-end">
            <a href="{{ path('job_queue_list', {id: job.relatedEntityId is not empty ? job.relatedEntityId : null, name: relatedEntity is not empty ? relatedEntity.class : null}) }}"
               class="btn btn-secondary" role="button">
                {{ 'job.job_list'|trans }}
            </a>
            <a href="{{ path('command') }}" class="btn btn-primary" role="button">
                {{ 'job.create_job'|trans }}
            </a>
        </div>
    </div>
{% endblock %}

{% block body %}
    <table class="table table-bordered table-striped">
        <tr>
            <th style="width: 20%">{{ 'job.command'|trans }}</th>
            <td>{{ job.command }} {{ job.commandParams|join(' ') }}</td>
        </tr>
        <tr>
            <th>{{ 'job.state'|trans }}</th>
            <td>
                {{ job.status }}
                <a href="{{ path('job_queue_detail', {id: job.id}) }}" class="btn btn-sm btn-danger ms-2" role="button">
                    {{ 'job.detail.refresh'|trans }}
                </a>
            </td>
        </tr>
        <tr>
            <th>{{ 'job.created'|trans }}</th>
            <td>{{ job.createdAt|date }}</td>
        </tr>

        {% if job.closedAt %}
            <tr>
                <th>{{ 'job.detail.runtime'|trans }}</th>
                <td>{{ job.runtime.h }} {{ 'job.runtime.hours'|trans }} {{ job.runTime.i }} {{ 'job.runtime.minutes'|trans }} {{ job.runTime.s }} {{ 'job.runtime.seconds'|trans }}</td>
            </tr>
            <tr>
                <th>{{ 'job.detail.closed'|trans }}</th>
                <td>{{ job.closedAt|date }}</td>
            </tr>
        {% endif %}
    </table>

    {% if job.output is not empty %}
        <h3 class="mb-3">{{ 'job.detail.output'|trans }}</h3>
        <pre style="overflow:auto;">{{ job.output }}</pre>
    {% endif %}
{% endblock %}