{% extends '@JobQueue/base.html.twig' %}

{% block title %}{{ 'job.detail.title'|trans }}{% endblock %}

{% block header %}
    <div class="row align-items-center mt-4">
        <div class="col-8 my-2">
            <h1>
                {{ 'job.detail.title'|trans }} {{ job.id }}
                {% if relatedEntityName is not empty %}
                    {{ 'job.header.for'|trans }} <strong>{{ relatedEntityName }}</strong>
                {% endif %}
                {% if relatedEntityId is not empty %}
                    {{ 'job.header.for_entity_with_id'|trans ~ ' ' ~ relatedEntityId }}
                {% endif %}
            </h1>
        </div>
        <div class="col-4 text-end d-none d-lg-block">
            {% if is_granted(constant('TomAtom\\JobQueueBundle\\Security\\JobQueuePermissions::ROLE_JOB_DELETE')) and job.deletable %}
                <a href="{{ path('job_queue_delete', {'id': job.id, 'listId': relatedEntityId, 'listName': relatedEntityName}) }}"
                   class="btn btn-danger"
                   onclick="return confirm('{{ 'job.deletion.confirm'|trans }}')">
                    {{ 'job.deletion.action'|trans }}
                </a>
            {% endif %}
            {% if is_granted(constant('TomAtom\\JobQueueBundle\\Security\\JobQueuePermissions::ROLE_JOB_LIST')) %}
                <a href="{{ path('job_queue_list', {'name': relatedEntityName, 'id': relatedEntityId}) }}"
                   class="btn btn-secondary">
                    {{ 'job.job_list'|trans }}
                </a>
            {% endif %}
            {% if is_granted(constant('TomAtom\\JobQueueBundle\\Security\\JobQueuePermissions::ROLE_COMMAND_SCHEDULE')) %}
                <a href="{{ path('command_schedule', {'listId': relatedEntityId, 'listName': relatedEntityName}) }}"
                   class="btn btn-primary">
                    {{ 'job.create_job'|trans }}
                </a>
            {% endif %}
        </div>

        {# Dropdown actions #}
        <div class="col-4 text-end d-lg-none">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="jobActionsDropdown"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    {{ 'job.actions'|trans }}
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="jobActionsDropdown">
                    {% if is_granted(constant('TomAtom\\JobQueueBundle\\Security\\JobQueuePermissions::ROLE_JOB_DELETE')) and job.deletable %}
                        <li>
                            <a class="dropdown-item text-danger"
                               href="{{ path('job_queue_delete', {'id': job.id, 'listId': relatedEntityId, 'listName': relatedEntityName}) }}"
                               onclick="return confirm('{{ 'job.deletion.confirm'|trans }}')">
                                {{ 'job.deletion.action'|trans }}
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted(constant('TomAtom\\JobQueueBundle\\Security\\JobQueuePermissions::ROLE_JOB_LIST')) %}
                        <li>
                            <a class="dropdown-item"
                               href="{{ path('job_queue_list', {'name': relatedEntityName, 'id': relatedEntityId}) }}">
                                {{ 'job.job_list'|trans }}
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted(constant('TomAtom\\JobQueueBundle\\Security\\JobQueuePermissions::ROLE_COMMAND_SCHEDULE')) %}
                        <li>
                            <a class="dropdown-item"
                               href="{{ path('command_schedule', {'listId': relatedEntityId, 'listName': relatedEntityName}) }}">
                                {{ 'job.create_job'|trans }}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <table class="table table-bordered table-striped">
        <tr>
            <th style="width: 20%">{{ 'job.command'|trans }}</th>
            <td>{{ job.command }} {{ job.commandParams|join(' ') }}</td>
        </tr>
        <tr>
            <th>{{ 'job.state'|trans }}</th>
            <td>
                <span id="jobStatus"
                      data-status_planned="{{ constant('TomAtom\\JobQueueBundle\\Entity\\Job::STATUS_PLANNED') }}"
                      data-status_running="{{ constant('TomAtom\\JobQueueBundle\\Entity\\Job::STATUS_RUNNING') }}"
                >{{ job.status }}</span>
                {% if job.planned %}
                    <a href="{{ path('job_queue_detail', {'id': job.id, 'listId': relatedEntityId, 'listName': relatedEntityName}) }}"
                       class="btn btn-sm btn-success mx-2" role="button">
                        {{ 'job.detail.refresh'|trans }}
                    </a>
                {% elseif job.running %}
                    <a href="{{ path('job_queue_detail', {'id': job.id, 'listId': relatedEntityId, 'listName': relatedEntityName}) }}"
                       class="btn btn-sm btn-success mx-2" role="button">
                        {{ 'job.detail.refresh'|trans }}
                    </a>
                    {% if is_granted(constant('TomAtom\\JobQueueBundle\\Security\\JobQueuePermissions::ROLE_JOB_CANCEL')) %}
                        <a href="{{ path('job_queue_cancel', {'id': job.id, 'listId': relatedEntityId, 'listName': relatedEntityName}) }}"
                           class="btn btn-sm btn-danger" role="button"
                           onclick="return confirm('{{ 'job.cancellation.confirm'|trans }}')">
                            {{ 'job.cancellation.action'|trans }}
                        </a>
                    {% endif %}
                {% elseif is_granted(constant('TomAtom\\JobQueueBundle\\Security\\JobQueuePermissions::ROLE_JOB_CREATE')) and job.recreatable %}
                    <a href="{{ path('job_queue_create_from_parent', {'id': job.id, 'listId': relatedEntityId, 'listName': relatedEntityName}) }}"
                       class="btn btn-sm btn-success ms-2" role="button">
                        {{ 'job.recreate_job'|trans }}
                    </a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ 'job.type'|trans }}</th>
            <td>{{ job.type }}</td>
        </tr>
        <tr>
            <th>{{ 'job.created'|trans }}</th>
            <td>{{ job.createdAt|date }}</td>
        </tr>
        <tr>
            <th>{{ 'job.start_at'|trans }}</th>
            <td>{{ job.startAt|date }}</td>
        </tr>

        {% if job.closedAt %}
            <tr>
                <th>{{ 'job.detail.runtime'|trans }}</th>
                <td>{{ job.runtime.h }} {{ 'job.runtime.hours'|trans }} {{ job.runTime.i }} {{ 'job.runtime.minutes'|trans }} {{ job.runTime.s }} {{ 'job.runtime.seconds'|trans }}</td>
            </tr>
            <tr>
                <th>{{ 'job.detail.closed'|trans }}</th>
                <td>{{ job.closedAt|date }}</td>
            </tr>
        {% endif %}
    </table>

    {% if job.relatedParent is not empty %}
        <a href="{{ path('job_queue_detail', {'id': job.relatedParent.id, 'listId': relatedEntityId, 'listName': relatedEntityName}) }}"
           class="btn btn-outline-primary"
           role="button">{{ 'job.detail.parent'|trans }} ({{ job.relatedParent.id }})
        </a>
    {% elseif job.relatedChildren is not empty %}
        {% for childJob in job.relatedChildren %}
            <a href="{{ path('job_queue_detail', {'id': childJob.id, 'listId': relatedEntityId, 'listName': relatedEntityName}) }}"
               class="btn btn-outline-primary"
               role="button">{{ 'job.detail.child'|trans }} ({{ childJob.id }})
            </a>
        {% endfor %}
    {% endif %}

    {% if job.jobRecurringParent is not empty %}
        <a href="{{ path('command_schedule_edit', {'id': job.jobRecurringParent.id}) }}"
           class="btn btn-outline-primary"
           role="button">{{ 'job.detail.recurring_parent'|trans }} ({{ job.jobRecurringParent.id }})
        </a>
    {% endif %}

    <div {% if job.output is empty %}style="display: none;"{% endif %}>
        <h3 class="mb-3 mt-2">{{ 'job.detail.output'|trans }}</h3>
        <pre id="jobOutput" class="terminal-output"
             data-ajax_path="{{ path('job_queue_ajax_update_output', {'id': job.id}) }}"
             data-job_id="{{ job.id }}">{{ job.output }}</pre>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/jobqueue/js/job.js') }}"></script>
{% endblock %}
