{% extends '@JobQueue/base.html.twig' %}

{% block title %}{{ 'job.detail.title'|trans }}{% endblock %}

{% set relatedEntityId = job.relatedEntityId|default(null) %}
{% set relatedEntityName = relatedEntity is not empty ? constant('class', relatedEntity) : null %}

{% block header %}
    <div class="row align-items-center mt-4">
        <div class="col-8 my-2">
            <h1>{{ 'job.detail.title'|trans }} {{ job.id }}
                {% if relatedEntity is not empty %}
                    {{ 'job.header.for'|trans }} <strong>{{ relatedEntity }}</strong>
                {% elseif relatedEntity is empty and relatedEntityId is not empty %}
                    {{ 'job.header.for_entity_with_id'|trans ~ ' ' ~ relatedEntityId }}
                {% endif %}
            </h1>
        </div>
        <div class="col-4 text-end">
            {% if is_granted(constant('TomAtom\\JobQueueBundle\\Security\\JobQueuePermissions::ROLE_JOB_DELETE')) and job.deletable %}
                <a href="{{ path('job_queue_delete', {'id': job.id, 'listId': relatedEntityId, 'listName': relatedEntityName}) }}"
                   class="btn btn-danger" role="button">{{ 'job.deletion.action'|trans }}
                </a>
            {% endif %}
            {% if is_granted(constant('TomAtom\\JobQueueBundle\\Security\\JobQueuePermissions::ROLE_JOB_LIST')) %}
                <a href="{{ path('job_queue_list', {'id': relatedEntityId, 'name': relatedEntityName}) }}"
                   class="btn btn-secondary" role="button">
                    {{ 'job.job_list'|trans }}
                </a>
            {% endif %}
            {% if is_granted(constant('TomAtom\\JobQueueBundle\\Security\\JobQueuePermissions::ROLE_COMMAND_SCHEDULE')) %}
                <a href="{{ path('command_schedule', {'listId': relatedEntityId, 'listName': relatedEntityName}) }}"
                   class="btn btn-primary" role="button">
                    {{ 'job.create_job'|trans }}
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block body %}
    <table class="table table-bordered table-striped">
        <tr>
            <th style="width: 20%">{{ 'job.command'|trans }}</th>
            <td>{{ job.command }} {{ job.commandParams|join(' ') }}</td>
        </tr>
        <tr>
            <th>{{ 'job.state'|trans }}</th>
            <td>
                {{ job.status }}
                <a href="{{ path('job_queue_detail', {'id': job.id, 'listId': relatedEntityId, 'listName': relatedEntityName}) }}"
                   class="btn btn-sm btn-danger ms-2"
                   role="button">
                    {{ 'job.detail.refresh'|trans }}
                </a>
            </td>
        </tr>
        <tr>
            <th>{{ 'job.created'|trans }}</th>
            <td>{{ job.createdAt|date }}</td>
        </tr>

        {% if job.closedAt %}
            <tr>
                <th>{{ 'job.detail.runtime'|trans }}</th>
                <td>{{ job.runtime.h }} {{ 'job.runtime.hours'|trans }} {{ job.runTime.i }} {{ 'job.runtime.minutes'|trans }} {{ job.runTime.s }} {{ 'job.runtime.seconds'|trans }}</td>
            </tr>
            <tr>
                <th>{{ 'job.detail.closed'|trans }}</th>
                <td>{{ job.closedAt|date }}</td>
            </tr>
        {% endif %}
    </table>

    {% if job.relatedParent is not empty %}
        <a href="{{ path('job_queue_detail', {'id': job.relatedParent.id, 'listId': relatedEntityId, 'listName': relatedEntityName}) }}"
           class="btn btn btn-success"
           role="button">{{ 'job.detail.parent'|trans }}
        </a>
    {% elseif job.relatedChildren is not empty %}
        {% for childJob in job.relatedChildren %}
            <a href="{{ path('job_queue_detail', {'id': childJob.id, 'listId': relatedEntityId, 'listName': relatedEntityName}) }}"
               class="btn btn btn-success"
               role="button">{{ 'job.detail.child'|trans }} ({{ childJob.id }})
            </a>
        {% endfor %}
    {% endif %}

    {% if job.output is not empty %}
        <h3 class="mb-3 mt-2">{{ 'job.detail.output'|trans }}</h3>
        <pre style="overflow:auto;">{{ job.output }}</pre>
    {% endif %}
{% endblock %}
