{% extends 'base.html.twig' %}

{% block title %}{{ 'job.list.title'|trans }}{% endblock %}

{% block header %}
    <div class="row">
        <div class="col-8">
            <h1>{{ 'job.list.title'|trans }} {{ relatedEntityId is not empty ? 'job.header.for.entity'|trans ~ ' ' ~ relatedEntityId : '' }}</h1>
        </div>
    </div>
{% endblock %}

{% block body %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th>{{ 'job.command'|trans }}</th>
            {% if relatedEntityId is empty %}
                <th>{{ 'job.list.related.entity'|trans }}</th>
            {% endif %}
            <th>{{ 'job.created'|trans }}</th>
            <th>{{ 'job.state'|trans }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        {% for job in jobs %}
            <tr>
                <td><code>{{ job.command }}</code></td>
                {% if relatedEntityId is empty %}
                    <td>{{ job.relatedEntityId }}</td>
                {% endif %}
                <td>{{ job.createdAt|date('d.m.Y H:i:s') }}</td>
                <td>{{ job.status }}</td>
                <td class="text-right">
                    <a href="{{ url('job_queue_detail', {id: job.id}) }}" class="btn btn-sm btn-info" role="button">
                        {{ 'job.detail'|trans }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
