{% extends '@JobQueue/base.html.twig' %}

{% block title %}{{ 'job.job_list'|trans }}{% endblock %}

{% set relatedEntityName = relatedEntity is not empty ? constant('class', relatedEntity) : null %}

{% block header %}
    <div class="row align-items-center mt-4">
        <div class="col-8 my-2">
            <h1>{{ 'job.job_list'|trans }}
                {% if relatedEntity is not empty %}
                    {{ 'job.header.for'|trans }} <strong>{{ relatedEntity }}</strong>
                {% elseif relatedEntity is empty and relatedEntityId is not empty %}
                    {{ 'job.header.for_entity_with_id'|trans ~ ' ' ~ relatedEntityId }}
                {% endif %}
            </h1>
        </div>
        {% if is_granted(constant('TomAtom\\JobQueueBundle\\Security\\JobQueuePermissions::ROLE_COMMAND_SCHEDULE')) %}
            <div class="col-4 text-end">
                <a href="{{ path('command_schedule', {'listId': relatedEntityId, 'listName': relatedEntityName}) }}"
                   class="btn btn-primary" role="button">
                    {{ 'job.create_job'|trans }}
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block body %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th>{{ 'job.command'|trans }}</th>
            {% if relatedEntityId is empty %}
                <th>{{ 'job.list.related_entity'|trans }}</th>
            {% endif %}
            <th>{{ 'job.created'|trans }}</th>
            <th>{{ 'job.state'|trans }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        {% for job in jobs %}
            <tr>
                <td><code>{{ job.command }}</code></td>
                {% if relatedEntityId is empty %}
                    <td>{{ job.relatedEntityId }}</td>
                {% endif %}
                <td>{{ job.createdAt|date('d.m.Y H:i:s') }}</td>
                <td>{{ job.status }}</td>
                <td class="text-right">
                    {% if is_granted(constant('TomAtom\\JobQueueBundle\\Security\\JobQueuePermissions::ROLE_JOB_READ')) %}
                        <a href="{{ path('job_queue_detail', {'id': job.id, 'listId': relatedEntityId, 'listName': relatedEntityName}) }}"
                           class="btn btn-sm btn-secondary"
                           role="button">{{ 'job.detail.self'|trans }}
                        </a>
                        {% if job.relatedParent is not empty %}
                            <a href="{{ path('job_queue_detail', {'id': job.relatedParent.id, 'listId': relatedEntityId, 'listName': relatedEntityName}) }}"
                               class="btn btn-sm btn-success"
                               role="button">{{ 'job.detail.parent'|trans }} ({{ job.relatedParent.id }})
                            </a>
                        {% endif %}
                    {% endif %}
                    {% if is_granted('ROLE_JQB_JOB_DELETE') and job.deletable %}
                        <a href="{{ path('job_queue_delete', {'id': job.id, 'listId': relatedEntityId, 'listName': relatedEntityName}) }}"
                           class="btn btn-sm btn-danger"
                           role="button">{{ 'job.deletion.action'|trans }}
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
