{% extends '@JobQueue/base.html.twig' %}

{% block title %}{{ 'job.recurring.list'|trans }}{% endblock %}

{% block header %}
    <div class="row align-items-center mt-4">
        <div class="col-8 my-2">
            <h1>{{ 'job.recurring.list'|trans }}</h1>
        </div>
        <div class="col-4 text-end">
            {% if is_granted(constant('TomAtom\\JobQueueBundle\\Security\\JobQueuePermissions::ROLE_JOB_LIST')) %}
                <a href="{{ path('job_queue_list') }}"
                   class="btn btn-secondary" role="button">
                    {{ 'job.job_list'|trans }}
                </a>
            {% endif %}
            {% if is_granted(constant('TomAtom\\JobQueueBundle\\Security\\JobQueuePermissions::ROLE_COMMAND_SCHEDULE')) %}
                <a href="{{ path('command_schedule') }}"
                   class="btn btn-primary" role="button">
                    {{ 'job.create_job'|trans }}
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block body %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th>{{ 'job.command'|trans }}</th>
            <th>{{ 'job.created'|trans }}</th>
            <th>{{ 'job.frequency'|trans }}</th>
            <th>{{ 'job.active'|trans }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        {% for job in jobs %}
            <tr>
                <td><code>{{ job.command }} {{ job.commandParams|join(' ') }}</code></td>
                <td>{{ job.createdAt|date('d.m.Y H:i:s') }}</td>
                <td>{{ job.frequency }}</td>
                <td>{{ job.active ? 'yes'|trans : 'no'|trans }}</td>
                <td class="text-end">
                    {% if is_granted(constant('TomAtom\\JobQueueBundle\\Security\\JobQueuePermissions::ROLE_COMMAND_SCHEDULE')) %}
                        <a href="{{ path('command_schedule_edit', {'id': job.id}) }}"
                           class="btn btn-sm btn-secondary"
                           role="button">{{ 'job.recurring.edit'|trans }}
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
